From: https://polygon.io/stocks?utm_term=stock%20rest%20api&utm_campaign=Stocks+-+USA&utm_source=adwords&utm_medium=ppc&hsa_acc=4299129556&hsa_cam=1330311037&hsa_grp=133850757806&hsa_ad=591207294400&hsa_src=g&hsa_tgt=aud-1662671634913:kwd-833268776823&hsa_kw=stock%20rest%20api&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQiA7NO7BhDsARIsADg_hIZOVBxY6167Sj3BcxqZ_lBkSAr2K9UYCW48erybhuc44xhFkgU2YKcaAi6bEALw_wcB

In [1]:
from polygon import RESTClient
import pandas as pd
from datetime import date, timedelta

In [2]:
client = RESTClient("rPMRR_fnr4s7doNeC2x0qx8l2fV4iiFg")

today = date.today()
thirty_days_ago = today - timedelta(days = 300)

aggs = []
for a in client.list_aggs(
    "AAPL",
    1,
    "day",
    thirty_days_ago,
    today,
    limit=50000,
):
    aggs.append(a)

# Convert to DataFrame
df = pd.DataFrame(aggs)

# Optionally convert the timestamp to a readable datetime
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')

df

,open,high,low,close,volume,vwap,timestamp,transactions,otc
0,172.77,173.1850,170.7600,171.13,52488692.0,171.3457,2024-03-13 04:00:00,647120,None
1,172.91,174.3078,172.0500,173.00,72913507.0,173.0899,2024-03-14 04:00:00,806014,None
2,171.17,172.6200,170.2850,172.62,121752699.0,171.8002,2024-03-15 04:00:00,771387,None
3,175.57,177.7100,173.5200,173.72,75606556.0,175.4587,2024-03-18 04:00:00,866430,None
4,174.34,176.6050,173.0300,176.08,55215244.0,175.4779,2024-03-19 04:00:00,636058,None
...,...,...,...,...,...,...,...,...,...
201,252.23,253.5000,250.7500,252.20,33166048.0,252.2717,2024-12-30 05:00:00,421590,None
202,252.44,253.2800,249.4300,250.42,34284191.0,250.7349,2024-12-31 05:00:00,361194,None
203,248.93,249.1000,241.8201,243.85,54125614.0,244.3548,2025-01-02 05:00:00,685396,None
204,243.36,244.1800,241.8900,243.36,38846213.0,243.0704,2025-01-03 05:00:00,493718,None
205,244.31,247.3300,243.2000,245.00,42063243.0,245.1849,2025-01-06 05:00:00,493845,None