From: https://polygon.io/stocks?utm_term=stock%20rest%20api&utm_campaign=Stocks+-+USA&utm_source=adwords&utm_medium=ppc&hsa_acc=4299129556&hsa_cam=1330311037&hsa_grp=133850757806&hsa_ad=591207294400&hsa_src=g&hsa_tgt=aud-1662671634913:kwd-833268776823&hsa_kw=stock%20rest%20api&hsa_mt=p&hsa_net=adwords&hsa_ver=3&gad_source=1&gclid=Cj0KCQiA7NO7BhDsARIsADg_hIZOVBxY6167Sj3BcxqZ_lBkSAr2K9UYCW48erybhuc44xhFkgU2YKcaAi6bEALw_wcB

In [1]:
from polygon import RESTClient
import pandas as pd

In [2]:
client = RESTClient("rPMRR_fnr4s7doNeC2x0qx8l2fV4iiFg")

aggs = []
for a in client.list_aggs(
    "AAPL",
    1,
    "minute",
    "2022-01-01",
    "2023-02-03",
    limit=50000,
):
    aggs.append(a)

# Convert to DataFrame
df = pd.DataFrame(aggs)

# Optionally convert the timestamp to a readable datetime
df['timestamp'] = pd.to_datetime(df['timestamp'], unit='ms')

df

,open,high,low,close,volume,vwap,timestamp,transactions,otc
0,130.2800,131.0000,130.2800,131.0000,8174.0,130.8541,2023-01-03 09:00:00,208,None
1,130.8700,131.1700,130.8700,131.1000,8820.0,130.9552,2023-01-03 09:01:00,157,None
2,131.1800,131.2400,131.1700,131.1700,2112.0,131.2088,2023-01-03 09:02:00,53,None
3,131.1900,131.2900,131.1900,131.2800,3888.0,131.2208,2023-01-03 09:03:00,90,None
4,131.2800,131.4600,131.2800,131.4600,5984.0,131.3279,2023-01-03 09:04:00,88,None
...,...,...,...,...,...,...,...,...,...
18748,154.3301,154.3301,154.3301,154.3301,347.0,154.3313,2023-02-04 00:54:00,21,None
18749,154.3300,154.3400,154.3200,154.3400,1438.0,154.3318,2023-02-04 00:55:00,38,None
18750,154.3400,154.3400,154.3300,154.3300,588.0,154.3390,2023-02-04 00:56:00,17,None
18751,154.3500,154.3500,154.3500,154.3500,555.0,154.3431,2023-02-04 00:58:00,27,None
18752,154.3400,154.3900,154.3300,154.3900,3835.0,154.3572,2023-02-04 00:59:00,58,None